services:
  rabbit-1:
    image: rabbitmq:management
    container_name: rabbit-1
    hostname: rabbit1
    ports:
      - "30000:5672"
      - "30001:15672"
    restart: always
    environment:
      RABBITMQ_ERLANG_COOKIE: rabbitcluster
      RABBITMQ_DEFAULT_USER: ${RABBIT_USER:-guest}
      RABBITMQ_DEFAULT_PASS: ${RABBIT_PASS:-guest}
  rabbit-2:
    image: rabbitmq:management
    container_name: rabbit-2
    hostname: rabbit2
    ports:
      - "30002:5672"
      - "30003:15672"
    restart: always
    depends_on:
      - rabbit-1
    environment:
      RABBITMQ_ERLANG_COOKIE: rabbitcluster
      RABBITMQ_DEFAULT_USER: ${RABBIT_USER:-guest}
      RABBITMQ_DEFAULT_PASS: ${RABBIT_PASS:-guest}
  rabbit-3:
    image: rabbitmq:management
    container_name: rabbit-3
    hostname: rabbit3
    ports:
      - "30004:5672"
      - "30005:15672"
    restart: always
    depends_on:
      - rabbit-1
      - rabbit-2
    environment:
      RABBITMQ_ERLANG_COOKIE: rabbitcluster
      RABBITMQ_DEFAULT_USER: ${RABBIT_USER:-guest}
      RABBITMQ_DEFAULT_PASS: ${RABBIT_PASS:-guest}
